<nav>
  <ul class="flex font-semibold">
    <li>
      <a
        class="transition-colors inline-block p-3 sr-only focus:not-sr-only focus:p-3"
        href="#main-content"
      >Go to main content</a>
    </li>
    <li *ngFor="let route of routes$ | async">
      <a
        class="transition-colors inline-block p-3 border-b border-transparent hover:border-slate-400 dark:hover:border-slate-200"
        routerLinkActive="border-slate-300 dark:border-slate-400"
        [routerLink]="route.routerLink"
        [routerLinkActiveOptions]="route.routerLinkActiveOptions"
      >{{ route.text }}</a>
    </li>
    <li *ngIf="isUserLoggedIn$ | async">
      <button
        class="transition-colors inline-block p-3 border-b border-transparent hover:border-slate-400 dark:hover:border-slate-200"
        (click)="logOut()"
      >
        Log out
      </button>
    </li>
    <li class="grow text-right">
      <a
        [attr.href]="sourceCodeUrl"
        tmsExternalLink
        class="inline-block p-3"
        title="Go to source code of this app"
      >
        <tms-icon name="github"></tms-icon>
      </a>
    </li>
  </ul>
</nav>
