<div class="max-w-3xl mx-auto px-4">
  <h1 class="text-center text-5xl md:text-7xl font-extrabold my-8">
    Showcase
    <span class="block mt-1 text-xl font-normal">of how I write an Angular app</span>
  </h1>

  <tms-expandable>
    <h3 data-tms-expandable-toggle class="font-semibold">What does this app do?</h3>
    <div data-tms-expandable-content>
      <p>It's quite simple actually. You can <a [routerLink]="Route.SignUp" class="underline hover:no-underline">(fake) sign up</a>, <a [routerLink]="Route.LogIn" class="underline hover:no-underline">log in</a> and view a personalised <a [routerLink]="Route.Dashboard" class="underline hover:no-underline">dashboard page</a> (only visible when you are logged in).</p>
      <p class="mt-4">It however contains enough functionality to include directives, http requests, observables, guards, (accessible) form validity and state management.</p>
    </div>
  </tms-expandable>

  <tms-expandable>
    <h2 data-tms-expandable-toggle class="font-semibold">Why this app?</h2>
    <div data-tms-expandable-content>
      <p>To give potential clients (I'm a freelance front-end developer) an idea of how I write (Angular) code and unit tests (<a tmsExternalLink [attr.href]="Route.SourceCode" class="underline hover:no-underline">check source code</a>).</p>
    </div>
  </tms-expandable>
</div>
